@font-face {
   font-family: 'Rockwell';
   font-display: swap;
   src: url('file:///Users/kajigurung/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-06-30_094147/fonts/Rockwell/font.ttf');
}
